{% extends 'base.html' %}

{% block title %}
<title>タグ変更</title>
{% endblock title %}

{%block header%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">あなたのおすすめを共有しましょう！</h1>
        <p class="lead">このページで投稿できます！</p>
    </div>
</div>


<div class="alert alert-light" role="alert">
    <h1>タグ変更</h1>
</div>
{%endblock header%}

{% block content %}

<div class="alert alert-secondary container" role="alert">
    <p>現在設定されているタグ　　   ※変更したいタグを空欄にし、新しいタグに入力するとタグが追加されます</p>
    <hr>
        <p>
            {% for tag in tags%}
            ・{{tag}}　　
            {% endfor %}
        </p>
</div>


<div  class="container">
    <form action="" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="決定！">
    </form>
    <hr>
</div>


{% endblock content %}
