{% extends 'base.html' %}

{% block header %}
<div class="alert alert-secondary" role="alert">
    <p>you can find book by tag!</p>
</div>
{% endblock header %}

{% block additionalFunc %}
<table>
    <form action="{% url 'find' %}" method="POST">
        {% csrf_token %}
        {{form}}
        <tr><th></th><th><input type="submit" value="決定"></th></tr>
    </form>
</table>
{% endblock additionalFunc %}

<hr>

{% block content %}
{% for item in data %}
<div class="containe booklist list_number_{{item.pk}}">
    <div class="alert alert-primary" role="alert">
        <p>{{item.author}}</p>
        <p>{{item.bookTitle}}</p>
        <p><img src="{{item.bookImage.url}}" alt="image" width="200" height="250"></p>
        <!--        <p>{{item.content}}</p>-->
        <!--        <p><a href="{{item.bookLink}}">{{item.LinkTitle}}</a></p>-->
        <p>タグ：{{item.genre}}</p>
        <p><a href="{% url 'detail' item.pk %}">詳細へ</a></p>
    </div>
</div>
{% endfor %}
{% endblock content %}