{% extends 'base.html' %}
{% load boost %}

{% block title %}
<title>{{title}}</title>
{% endblock title %}

{% block customCSS %}
{% endblock customCSS %}


{%block header%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">お気に入りの一冊を見つけましょう</h1>
        <p class="lead">あなたのおすすめとみんなのおすすめを共有しませんか？</p>
    </div>
</div>

<div class="alert alert-light" role="alert">
    <h1>ホーム</h1>
</div>
{%endblock header%}


{% block content %}
{% for object,tag in object_list|zip:tags %}

<div class="container booklist list_number_{{item.pk}}">
    <div class="alert alert-primary" role="alert">
        <p><a href="#">{{object.author}}</a></p>
        <p>{{object.bookTitle}}</p>
        <p><img class="image-size" src="{{object.bookImage.url}}" alt="image"</p>
        <p>{{object.bookImage.url}}</p>
        <p class="tag-position">タグ：
            {% for item in tag %}
            <a href="{% url 'find' %}">{{item}}</a>,
            {% endfor %}
        </p>
        <p><a href="{% url 'detail' object.pk %}">詳細へ</a></p>
        <a href=#" class="btn btn-primary  " role="button" aria-pressed="true">高評価x{{object.good}}</a>
        <a href="#" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true" >低評価x{{object.notGood}} </a>
        <p id="detailedExplanation">※「高評価・ 低評価・タグの変更」は「詳細へ」から行えます</p>

    </div>
</div>
{% endfor %}
{% endblock content %}